.navbar {
  /* width: 140px; */
  /* height: 375px; */
  /* height: 100%; */
  /* position: absolute; */
  /* top: 67%; */
  /* top: 0; */
  /* right: 0; */
  /* transform: translate(0%, -50%); */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-around; */
  /* align-items: flex-end; */
  /* overflow: hidden; */
  /* background-color: #151E21; */
}

.li {
  padding: 0.5rem;
  margin: 0.5rem;
  text-align: end;
  position: relative;
  right: -120px;
  text-transform: uppercase;
}

.li:nth-child(1) {
  transition: all ease-in-out 3.5s;
}

.li:nth-child(2) {
  transition: all ease-in-out 3s;
}

.li:nth-child(3) {
  transition: all ease-in-out 2.5s;
}

.li:nth-child(4) {
  transition: all ease-in-out 2s;
}

.li:nth-child(5) {
  transition: all ease-in-out 1.5s;
}

.li:nth-child(6) {
  transition: all ease-in-out 1s;
}

.li-active {
  padding: 0.5rem;
  margin: 0.5rem;
  text-align: end;
  text-transform: uppercase;
  position: relative;
  right: 0;
  
}

.li-active:nth-child(1) {
  transition: all ease-in-out 1s;
}

.li-active:nth-child(2) {
  transition: all ease-in-out 1.5s;
}

.li-active:nth-child(3) {
  transition: all ease-in-out 2s;
}

.li-active:nth-child(4) {
  transition: all ease-in-out 2.5s;
}

.li-active:nth-child(5) {
  transition: all ease-in-out 3s;
}

.li-active:nth-child(6) {
  transition: all ease-in-out 3.5s;
}