.photo__container {
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
}

.photo__layout {
    position: relative;
    top: 500%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 2s;
    opacity: 0;
}

.photo__layout-active {
    top: 0%;
    opacity: 1;
}
